.home-nav {
    background-color: #FBA1A1;
  }
  
.navbar-nav {
    font-size: 20px;
}
  
.Home-nav-logo {
    max-height: 55px;
}

.login-nav-logo {
    max-height: 115px;
}
  
.nav-item {
    padding-left: 50px;
}
  
.navbar-collapse {
    max-width: 500px;
}
  
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
  
.body-logo {
    max-height: 250px;
}
  
h5 {
    font-size: 60px;
    font-family: 'Ubuntu', sans-serif;
    color: #333C59;
    margin-top: 30px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #333C59;
    margin-top: 30px;
    text-align: center;
}
  
body {
    background-image: url("../imgs/background.png");
    background-color: #FBA1A1;
    background-repeat: no-repeat;
    background-size: 200% cover;
}
  
.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
  
.btn {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    background-color: #FF595E;
    color: white;
    border: 3px solid #FF595E;
    width: 300px;
    height: 70px;
    border-radius: 80px;
    line-height: 45px;
    align-items: center;
    justify-content: center;
    display: inline-block;
    text-decoration: none;
    margin-top: 50px;
    position: relative;
    transition-duration: 0.4s;
}

.form-font {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
